<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkgem.jeesite.acca.web.content.dao.ActivityMapper">
  <resultMap id="BaseResultMap" type="com.thinkgem.jeesite.acca.web.content.entity.Activity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="activity_id" jdbcType="BIGINT" property="activityId" />
    <result column="activity_name" jdbcType="VARCHAR" property="activityName" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="activity_type" jdbcType="INTEGER" property="activityType" />
    <result column="activity_desc" jdbcType="LONGVARCHAR" property="activityDesc" />
  </resultMap>
</mapper>