<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thinkgem.jeesite.acca.web.user.dao.InviteMapper">
  <resultMap id="BaseResultMap" type="com.thinkgem.jeesite.acca.web.user.entity.Invite">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="inviter_phone" jdbcType="VARCHAR" property="inviterPhone" />
    <result column="invitee_phone" jdbcType="VARCHAR" property="inviteePhone" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="invite_time" jdbcType="TIMESTAMP" property="inviteTime" />
    <result column="success_time" jdbcType="TIMESTAMP" property="successTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>

  <select id="findInviteRank" resultType="com.thinkgem.jeesite.acca.web.user.entity.InviteRank">
    SELECT inviter_phone as phone,
    count(distinct (invitee_phone)) as successCount
    FROM tbl_invite a
    <where>
      a.del_flag = 0
      AND a.success_time IS NOT NULL
      <if test="start != null and start != ''">
        AND date_format(a.invite_time, '%Y-%m-%d') &gt; #{start}
      </if>
      <if test="end != null and end != ''">
        AND #{end} &gt; date_format(a.invite_time, '%Y-%m-%d')
      </if>
    </where>
    GROUP BY a.inviter_phone
    <if test="sort == '0'">
      ORDER successCount
    </if>
    <if test="sort == '1'">
      ORDER successCount DESC
    </if>
  </select>
</mapper>